<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>v-model示例2</title>
    <style>
    /* 注意：此处css需要放到 v-cloak使用之前才生效 */
    [v-cloak]{
        display: none;
    }
    </style>
  </head>
  <body>
    <div id="app" v-cloak>
      <input type="radio" v-model="picked" :value="value">
      <label>单选按钮</label>
      <p>{{picked}}</p>
      <p>{{value}}</p>
      <br>
      <input type="checkbox" v-model="toggle" :true-value="value1" :false-value="value2">
      <label>复选框</label>
      <p>{{toggle}}</p>
      <p>{{value1}}</p>
      <p>{{value2}}</p>
      <br>
      <select v-model="selected">
        <option :value="{number:123}">123</option>
      </select>
      {{selected.number}}
    </div>
    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
    <script>
      var app = new Vue({
        el:'#app',
        data:{
          picked:false,
          value:123,
          toggle:false,
          value1:'a',
          value2:'b',
          selected:''
        }
      })
    </script>

  </body>

</html>
